{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <!-- CALL TO ACTION -->
  <div class="jumbotron text-center">
    <h1>{{ sample }}</h1>
    <p class="lead mb-4">Press Submit to See Random Word</p>
    <div class="d-flex justify-content-center">
      <form action="#" class='form-inline'>
          <a href="/" class="btn btn-secondary ml-2">Submit</a>
        </form>
    </div>
  </div>

  {% endblock %}


